@import url("fuentes/funtes.css");
@import url("css/global.css");

/* Nav */
    /* Container */
#navContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to top, rgba(40,40,40,0.8),rgba(131,131,131,0.5));
    background-color: rgba(0, 238, 255, 0.5);
    min-height: 100%;
    padding: 10px 20px;
    width: fit-content;
}
#navDesaparece{
    width: 25vw; min-width: 300px;
}
#navContainer button{
    border-radius: 8px;
}
#navContainer button:hover{
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    color: black;
}

    /* boton para el contenido del container del nav */
#btn-ocultar{
    background: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'none\' viewBox=\'0 0 24 24\' stroke-width=\'1.5\' stroke=\'black\'%3E%3Cpath stroke-linecap=\'round\' stroke-linejoin=\'round\' d=\'M6.75 15.75L3 12m0 0L6.75 8.25M3 12h18\'/%3E%3C/svg%3E");
    background-repeat: no-repeat; background-size: contain; background-position: center;
    width: 60px;
    height: 40px;
}

    /* Titulo del nav */
#navContainer h2{
    font-family: "Aldrich-Regular", sans-serif;
    font-size: 2.5em;
    margin: 5px 0 20px 0;
}

    /* Nav */
#navContainer nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#navContainer nav button{
    color:  #4B4B4B;
    background-color: #D9D9D9;
    width: 100%;
    padding: 15px 20px;
}
.marcado{
    margin: 10px;
    color: black;
}
/*___________________________*/

main{
    flex: 1;
    height: fit-content;
}

/* Header */
header{
    background-color: #D9D9D9;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
header h2{
    font-family: "Aldrich-Regular", sans-serif;
    margin-right: auto;
}
header > div{
    display: flex;
    flex-direction: row;
}
#headTop button{
    border-radius: 15px;
    padding: 0px 30px;
    background-color: #0B8891;
    color: #D9D9D9;
}
button:hover{
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}


#headBot{
    display: flex;
    align-items: center;
    gap: 20px;
}
#headBot input{
    all: unset;
    background-color: white;
    border: 1px solid #0B8891;
    border-radius: 15px;
    color: #5E5E5E;
    padding: 0 20px;
    height: 30px;
    margin-right: auto;
}

/* Select */
.inactivo{
    background-color: #0B8891;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23D9D9D9' viewBox='0 0 24 24'%3E%3Cpath d='m19.5 8.25-7.5 7.5-7.5-7.5'/%3E%3C/svg%3E");
    width: 30px;
    background-position: center;
}
.activo{
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%230B8891'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5'/%3E%3C/svg%3E");
    outline: 1px solid #0B8891;
    width: 300px;
    background-position: 3px center;
}

.select{
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 10px 20px 10px 35px;
    color: #5E5E5E;
    transition: width 0.3s ease;
    cursor: pointer;
    background-repeat: no-repeat;
}
.select p{
    height: 20px;
    width: 100%;
}

.select img{
    height: fit-content;
    position: absolute;
    pointer-events: none;
}


.lista-select{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #0B8891;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    cursor: auto;
}

.lista-select > *{
    width: 100%;
    padding: 0 20px;
    margin: 5px 0;
    border-bottom: 1px solid #5E5E5E;
    cursor: pointer;
}

.lista-select > *:hover{
    color: black;
    border-bottom: 1px solid black;
}

/* Clases para js */
.marcado{
    margin: 10px;
    color: black;
}

#headBot > button{
    width: 40px;
    background: none;
    border-radius: 8px;
}



/* Tabla */
#section-output{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column;
    padding: 30px 40px;

}

table{
    background-color: #D9D9D9;
    margin: 0;
    border-collapse: collapse;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}
table td{
    border: #A0B9BB 1px solid;
}

thead{
    background-color: #0B8891;
    color: #D9D9D9;
    padding: 10px;
    border-radius: 15px;
}

table th, table td{
    padding: 10px;
}
/* Clases para js */
#headBot > button{
    width: 40px;
    background: none;
    border-radius: 8px;
}
